.reminder-form-label {
  width: 100%;
  margin: 0px;
}

.reminder-form-section {
  margin-bottom: 15px;
}

.reminder-form-input {
  width: 50%;
}

.text-area-input {
  width: 100%;
}

.max-chars {
  font-size: 13px;
  color: #707070;
}

.max-chars.chars-warning {
  color: red;
}

.reminder-form .reminder-form-btns {
  margin: 0 auto;
  width: 30%;
  width: fit-content;
}

.reminder-form .reminder-form-btns .reminder-form-btn {
  width: 100px;
  margin: 0 10px;
}