.reminder-detail {
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.reminder-detail-title {
  font-size: 22px;
}

.edit-reminder {
  height: 0;
  width: 100%;
}

.edit-reminder i {
  float: right;
  font-size: 18px;
  cursor: pointer;
}
